body {
}
.firstline {
	text-align: center;
	position: relative;
	top: 100px;
	left: 400px;
	font-size: 70px;
	font-family: 'Charmonman', cursive;
}
.secondline {
	text-align: center;
	font-family: 'Charmonman', cursive;
	position: relative;
	top: 350px;
	left: 400px;
	font-size: 70px;
}
img {
  position: fixed;
  top: 60%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
