body {
}
.firstline {
	text-align: center;
	position: absolute;
	top: 200px;
	left: 300px;
	font-size: 50px;
}
.secondline {
	text-align: center;
	position: absolute;
	top: 250px;
	left: 300px;
	font-size: 50px;
}
.secondline, .firstline {
	font-family: 'Quicksand', sans-serif;
}
img {
  position: fixed;
  top: 60%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
